@model List<Product>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col bgImageCourse">
            <h1 class="fw-normal text-center mt-5">Our Courses</h1>
            <h5 class="fw-normal text-center ">Home-Courses</h5>
        </div>
    </div>
</div>
<div class="container mt-5">
    
    <div class="row">
        @foreach (var data in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 shadow-sm m-0 p-0">
                    <div class="card-header bg-dark text-white">
                    </div>
                    <div class="card-body p-0 m-0">
                        <div>
                            <img src="~/Images/best-courses-in-the-United-Kingdom.jpg" alt="Alternate Text" class="img-fluid" />
                        </div>
                       <div class="p-2">
                            <p class="card-text ">@data.Name</p>
                            <p class="card-text ">Rs.@data.Price.00</p>
                            <p class="card-text">@data.Description</p>
                       </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary btn-block text-primary">BUY NOW</a>
                        <a class="btn btn-outline-dark btn-block ">VIEW DETAILS</a>
                    </div>
                    <div class="card-footer">
                       
                    </div>
                </div>
            </div>
        }
    </div>
</div>
