@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-home mt-5 pb-5">
    <div class="hero-content mt-5 pt-5">
        <h1 class="hero-title text-white">Welcome to Our <span class="text-danger">Way makers Acadamy</span></h1>
        <p class="hero-subtitle text-white">Unlock the skills to build dynamic</p>
    </div>
</div>


