@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-home">
    <div class="hero-content">
       <div class="container">
            <h1 class="text-white " style="padding-top:140px;font-size:75px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Welcome to Our <br /> <span class="text-danger">Way makers Academy</span></h1>
            <p class="hero-subtitle fs-4 text-white">Education is the most powerful weapon which you can use to change the world.</p>
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-sm btn-dark fs-4" onclick="location.href='https://wa.me/0762639379'">Contact Now</button>
                    <button class="btn btn-sm btn-light fs-4 ms-2" onclick="location.href='Product/Index'">View Courses</button>
                </div>
                <div class="col-1">
                </div>
            </div>
       </div>
    </div>
</div>


